<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="CV of Alamgir Kabir.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header-div">
      <header>
        <div class="head-left">
          <img src="profile.jpg" height="100" width="100" />
        </div>
        <div class="head-mead" style="text-indent: 3px; line-height: 30px">
          <p>Curriculum Vitae of</p>
          <h1>Alamgir kabir</h1>
          <h4>Web Designer</h4>
        </div>
        <div class="head-right">
          <ul>
            <li><a href="tel:+88">Phone:+01745-425498,+01315-283852</a></li>
            <li>
              <a href="mailto:alamgirkabir45789@gmail.com"
                >Email:alamgirkabir45789@gmail.com</a
              >
            </li>
            <li>
              <a href="https://alamgirkabir.com">Website:alamgirkabirfmt.com</a>
            </li>
          </ul>
        </div>
      </header>

      <div class="div-clear"></div>
      <hr />
      <main>
        <section>
          <div class="head-mead">
            <p>
              <b><u>skill:</u></b>
            </p>
          </div>
          <div class="head-right">
            <p>
              <strong>Computer Fundamentals:</strong>MS Word,MS Excel,MS
              Access,MS Powerpoint
            </p>
            <p>
              <strong>Web Design:</strong>HTML,CSS,Bootstrap,Javascript,JQuery.
            </p>
            <p>
              <strong> Web Development(programming):</strong>MS SQL, C#
              ,Javascript,Python,UML
            </p>
            <p>
              <strong> Medical:</strong>First Aid Treatment & Medicine
              (Pharmacy) Management.
            </p>
          </div>
        </section>
        <div class="div-clear"></div>
        <hr />
        <section>
          <div class="head-mead">
            <p>
              <b><u>Educational Qualification:</u></b>
            </p>
          </div>

          <div class="head-right">
            <p>
              <strong
                >Diploma Enterprise System Analysis And Design(ESAD-C#):</strong
              >IDB-BISEW IT Scholarship Programme.
            </p>
            <p>
              <strong>Web Design:</strong>SEIP-Project, BITM (BASIS Institute of
              Management),Chittagong.
            </p>
            <p>
              <strong>Computer Fundamentals:</strong>IDB-BISEW IT Scholarship
              Programme.
            </p>
            <p>
              <strong>
                D.M.F(Medical Assistant):
                <strong> Passing Year: </strong>2012</strong
              >
              Medical Assistant Training School, Kushtia.
            </p>
            <p>
              <strong
                >Kamil(M.A): <strong>G.P.A: </strong>3.90<strong>
                  Passing Year: </strong
                >2013</strong
              >
              Islamic University
            </p>
            <p>
              <strong
                >Fazil(B.A): <strong>G.P.A: </strong>3.67<strong>
                  Passing Year: </strong
                >2011</strong
              >
              Islamic University.
            </p>
            <p>
              <strong
                >Allim(H.S.C): <strong>G.P.A: </strong>4.67<strong>
                  Passing Year: </strong
                >2008</strong
              >
              Madrasah Education Board,
            </p>
            <p>
              <strong
                >Dakhil(S.S.C): <strong>G.P.A: </strong>5.00<strong>
                  Passing Year: </strong
                >2006</strong
              >
              Madrasah Education Board
            </p>
          </div>
        </section>

        <div class="div-clear"></div>
        <hr />
        <section>
          <div class="head-mead">
            <p>
              <b><u>Personal Information:</u></b>
            </p>

            <p />
          </div>
          <div class="head-right">
            <p>
              <strong>Permanent Address:</strong>Village &
              Post:Jhikra,P.S:Bagmara.District:Rajshahi
            </p>
            <p>
              <strong>PresentAddress:</strong>Al-Falah housing sociery,2 No
              Gate,Chittagong
            </p>
            <p><strong>Father's Name:</strong>Late Sakender Ali</p>
            <p><strong>Mother's Name:</strong>Late Nurjahan</p>
            <p><strong>Gender:</strong>Male</p>
            <p><strong>Blood Group: </strong> O(+)</p>
            <p><strong>Nationality: </strong>Bangladeshi</p>
          </div>
        </section>
        <div class="div-clear"></div>
        <hr />
        <section>
          <div class="head-mead">
            <p>
              <b><u>Work Experience:</u></b>
            </p>

            <p />
          </div>
          <div class="head-right">
            <p>
              <strong>Matron(Medical Assistant):</strong>Faujdarhat Cader
              College, Chittagong.
            </p>
            <p>
              <strong>From:</strong>March-2014<strong>To</strong>August-2019
            </p>
            <p>
              <strong> Assistant Teacher (Religion):</strong>Bhabanigong
              Govt.High School,Bagmara,Rajshahi.
            </p>
            <p><strong>From:</strong>May-2013<strong>To</strong>March-2014</p>
          </div>
        </section>
        <div class="div-clear"></div>
        <hr />
        <section>
          <div class="head-left">
            <p>
              <b><u style="color: green">Reference:</u></b>
            </p>

            <p />
          </div>

          <div class="head-ref">
            <p><strong>Md.Abdul Malak</strong></p>
            <p><strong>Junior Account Officer</strong></p>
            <p><strong>Ever Smart Group Ltd.Gazipur</strong></p>
            <p><strong> Mobile:01722-684964</strong></p>
            <p><strong> Email:malakais7103@gmail.com</strong></p>
          </div>
          <div class="head-right">
            <p><strong>Polas Chandra Sarker</strong></p>
            <p><strong>Workshop Instractor</strong></p>
            <p><strong>Faujdarhat Cadet College, Chittagong.</strong></p>
            <p><strong> Mobile:01722-684964</strong></p>
            <p><strong> Email:polaschandrasarker03@gmail.com</strong></p>
          </div>
        </section>
      </main>
      <div class="div-clear"></div>
      <hr />

      <footer class="bottom" style="text-align: center">
        <a href="#">Facebook</a>
        <a href="#">Twiter</a>
        <a href="#">Youtube</a>
        <br />
        <b>&copy;</b>Copyright:alamgirkabir45789@gmail.com
      </footer>
    </div>
    <div class="div-clear"></div>
  </body>
</html>
